body
{ 
    padding: 1%;
}
.header-line
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo
{
   width:7em;
   height:7em;
}
.title {
    font-size: 4em;
    font-weight: lighter;
    color:brown;
}
.Bar
{
    visibility: hidden;
}
.top-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    opacity: 0.7;
    font-weight: bold;
    margin-bottom: 3%;
}
.dog {
    height:350px;
    width: 100%;
    object-fit: cover;
}
.breaking-news,.table-row-opacity,aside
{   
    opacity:0.6;
}
.top-news,.latest-news,.contact-us{
    list-style: none;
    margin-top: 2%;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
table {
    width:100%;
      }

tr,td {
    height: 50px;
    text-align: center;
      }
h2
{
opacity:0.8;
}
.sunny
{
    margin-top: -1%;
}
.tempr
{
  display: flex;
  justify-content: flex-start;
}
.weather-image {
    float: left;
    margin-right: 5%;
   }
   .magnify-table-img
   {
       box-align: center;
   }
.temp {
    margin-top:50px;
    font-size: 40px;
    font-weight: lighter;
    opacity: 0.8;
     }
.last-pic {
    float: left;
    height:120px;
    width:160px;
    padding-right: 2%;
    opacity:1;
}
.parag {
    padding-bottom: 2%;
    opacity: 0.8;
}
.city-font
{
    color:firebrick;
}
.table-row-color-grey
{
    background-color: gainsboro;
}
.table-row-color-light-blue
{
background-color: lightblue;
}
.table-head-color
{
    background-color: darkcyan;
    opacity: 0.8;
    font-size: 1.1rem;
}

/*for the Tab Views*/
@media only screen and (max-width:768px) and (min-width:426px)
{   
    .logo
    {  
       width: 6em;
       height: 6em;
       padding-right: 5%;
       padding-top: 4%;
    }
    .title
    {  
        margin-top: 1.5em;
        font-size:210%;

    }
    .breaking-news
    {    
        position: absolute;
        width: 100%;
        color: white;
        background-color:black;
        bottom: 0;
        /* margin-top:-8.8rem;
        font-size:0.85rem; */
    }
    .city-font
    {
          margin-left: 5%;
          margin-top: -4.5%;
    }
    .tablet
    {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
    }
    #hero-image
    {  
        width:50%;
        order: 1;
    }
    .dog{
        float: left;
    }
    #top-news-details
    {   width:100%;
        order:3;
        font-size: 1.3em;
        opacity: 0.7;
    }
    #score-table
    {   width:100%;
        order:4;
    }
    #weather-widget
    {  
        width:48%;
        display: inline-block;
        order:2;
    }
}

/*for the Mobile Views*/
@media only screen and (max-width:425px)
{
    .logo
    {  
        width: 3em;
        height:3em;
    }
    .title
    {
       font-size:1.5em;
    }
    .Bar
    {
        visibility: visible;
        opacity: 0.5;
        margin-top: 3%;
        color: black;
    }
    .top-menu,.top-news
    {
        display: none;
    }
    .dog
    {
       height: 365px;
    }
    .breaking-news
    {    
        margin-right:0.8em;
        position: absolute;
        color: white;
        background-color:black;
        margin-top:-13.5em;
        font-size:0.8em;;
    }
    h2
    {
        font-size: 1.2rem;
    }
    #top-news-details
    {   width:100%;
        order:3;
        font-size: 0.75em;
        opacity: 0.7;
    }
    h2
    {
        font-size: 1.1rem;
    }
    .parag{
        font-size: 0.9em;
    }

}
